* {
    box-sizing: border-box;
    font-family: 'input-mono', monospace;
}

body {
    overflow: hidden;
    background: cornflowerblue;
    margin: 0;
    padding: 0;
}

.widget {
    position: absolute;
    width: 300px;
    height: 300px;
    border: 2px solid black;
}

.widget>.statusbar {
    cursor: move;
    outline: 2px solid black;
    color: white;
    background: black;
    height: 25px;
    padding-top: 2px;
    padding-left: 10px;
}

.widget>.widget-content {
    padding: 10px;
    outline: 2px solid black;
    background: white;
    height: 275px;
}

#welcome{
    top: 100px;
    left: 500px;
}

#hi {
    top: 100px;
    left: 0px;
}

#garden {
    top: 450px;
    left: 40px;
}

#map {
    top:300px;
    left:400px;
}

#buttons {
    margin: 0;
}

.widget.garden>.widget-content {
    margin: 0;
    padding: 0;
}