* {
    box-sizing: border-box;
    font-family: 'input-mono', monospace;
    cursor: none !important;
}

body {
    overflow: hidden;
    background: cornflowerblue;
    margin: 0;
    padding: 0;
}

.widget {
    /* by default, widgets are hidden */
    visibility: hidden;
    position: absolute;
    width: 720px;
    height: 720px;
    border: 2px solid black;
}

.widget.garden {
    visibility: visible;
}

.widget>.statusbar {
    border: 2px solid black;
    color: white;
    background: black;
    height: 50px;
    padding-top: 14px;
    padding-left: 20px;
}

.widget>.widget-content {
    height: 666px;
    padding: 20px;
    border: 2px solid black;
    background: white;
    overflow: hidden;
}
.widget>.widget-content-img {
    padding: 0;
}

#buttons {
    margin: 0;
}

.widget.garden>.widget-content {
    margin: 0;
    padding: 0;
}

.widget-content > img {
    width: 100%;
}

#canvas {
    width: 100%;
    height: 100%;
}