* {
    box-sizing: border-box;
    font-family: 'input-mono', monospace;
    cursor: none !important;
}

body {
    overflow: hidden;
    background: cornflowerblue;
    margin: 0;
    padding: 0;
}

.widget {
    /* by default, widgets are hidden */
    visibility: hidden;
    position: absolute;
    width: 300px;
    height: 300px;
    border: 2px solid black;
}

.widget.garden {
    visibility: visible;
}

.widget>.statusbar {
    outline: 2px solid black;
    color: white;
    background: black;
    height: 25px;
    padding-top: 2px;
    padding-left: 10px;
}

.widget>.widget-content {
    padding: 10px;
    outline: 2px solid black;
    background: white;
    height: 275px;
}

#buttons {
    margin: 0;
}

.widget.garden>.widget-content {
    margin: 0;
    padding: 0;
}