* {
    box-sizing: border-box;
    font-family: 'input-mono', monospace;
}

body, html {
    overflow: hidden;
    background: cornflowerblue;
    margin: 0;
    padding: 0;
    height:100%;
}

.mousecanvas {
    z-index: 1000;
    position:absolute;
}

/* #canvas {
    width: 100%;
    height: 100%;
} */

.widget-content > img {
    width: 100%;
}
.widget {
    position: absolute;
    width: 300px;
    height: 300px;
    border: 2px solid black;
}

.widget>.statusbar {
    cursor: move;
    outline: 2px solid black;
    color: white;
    background: black;
    height: 25px;
    padding-top: 2px;
    padding-left: 10px;
}

.widget>.widget-content {
    padding: 10px;
    outline: 2px solid black;
    background: white;
    height: 275px;
    overflow: hidden;
}

.widget>.widget-content-img {
    padding: 0;
}

.battery {
    height: 120px;
}

.battery>.widget-content {
    height: 120px;
}

/* positions */

#welcome{
    left: 24px; top: 17px;
}

#hi {
    left: 375px; top: 230px;
}

#garden {
    left: 1042px; top: 363px;
}

#map {
    left: 57px; top: 441px;
}

#exp1 {
    left: 517px; top: 37px;
}

#exp2 {
    left: 799px; top: 116px;
}

#exp3 {
    left: 702px; top: 459px;
}

#exp4 {
    left: 1110px; top: 35px;
}

#battery {
    left: 391px; top: 614px;
}

#buttons {
    margin: 0;
}

.widget.garden>.widget-content {
    margin: 0;
    padding: 0;
}

